<!DOCTYPE html>
<html style="margin: 0; padding: 0;">

<head>
    <title>One | Email template!</title>
</head>

<body style="margin: 0; padding: 0;">
    <table class="table" cellpadding="0" cellspacing="0" style="background-color: #eee; empty-cells: hide; margin: 0 auto; padding: 0; width: 600px;">
        <tr>
            <td class="red" style="background-color:#eee; margin: 0 auto;">
                <h1 style="box-sizing: border-box; color: rgba(0, 0, 0); font-family: Garamond, Arial, sans-serif; letter-spacing: 0.5px; line-height: 1.9; margin: 0; padding: 15px 25px; text-align: center; text-transform: uppercase;">Medzgo</h1></td>
        </tr>
        <tr>
            <td style="margin: 0 auto;">
                <div href="/" style="box-sizing: border-box; color:#eee; font-family: Garamond , Helvetica, sans-serif; line-height: 1.4; margin: 0; text-decoration: none;">
                <h3 class="full-width" style ="text-align: left; font-family: Garamond , Arial, sans-serif; letter-spacing: 0.5px; letter-spacing: 0.5px; color: rgba(0, 0, 0)!important;" style="vertical-align: sub; width: 100%; text-color: rgba(0, 0, 0);">Hi User!</h3>
                <p style= "font-family: Garamond, Arial, sans-serif; letter-spacing: 0.5px; color: rgba(0, 0, 0); letter-spacing: 0.9px;">Welcome to Medzgo! You're just one step away.Use the following OTP to complete your Sign Up procedures. OTP is valid for 5 minutes</p>
                <a style=" display: inline-block; margin-right: 10px; background: #339DFF; color: #fff;text-decoration: none;font-size: 13px;line-height: 38px;border-radius: 40px;-webkit-transition: all 0.3s;transition: all 0.3s; width: 170px;text-align: center; justify-content:center;" href="#">{{OTP}}</a>
                <p style= "font-family: Garamond, Arial, sans-serif; letter-spacing: 0.5px; color: rgba(0, 0, 0); letter-spacing: 0.9px;">Thanks for using Medzgo!</p>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>
